.moneda {
  margin-left: 22rem !important;
}

p {
  font-size: 17px !important;
  margin-bottom: 1rem !important;
  line-height: 1.6 !important;
  color: #333333;
  text-align: justify !important;
}

