<header>
  <div class="meta-header">
  </div>
  <img src="./assets/images/brc-principal.png" alt="logo banrep" id="logo">
</header>

<br>


<mensaje-error></mensaje-error>


<div class="layout-main-container ng-tns-c67-0 mb-8">
  <div class="grid">

    <div class="col-3" id="content-menu">
      <menu id="menu"></menu>
    </div>

    <div class="col-9">
      <!-- se le agrega justify-content-center align-content-center -->
      <div class="contenido justify-content-center align-content-center">
        <div>
          <spinner></spinner>

          <router-outlet>

          </router-outlet>
          <!-- <page-ejecucion-procesos></page-ejecucion-procesos> -->
        </div>

      </div>
    </div>
  </div>
</div>

<footer>


  <div class="grid">
    <div class="col-6">
      <section>
        <img src="./assets/images/logo-banrep-footer.svg"
             alt="logo banrep" id="logo-banrep-footer">
      </section>
    </div>
    <div class="col-6">
      <section class="texto-banrep-footer">
        <p> ©2022. Banco de la República, Colombia. Todos los derechos reservados. All rights reserved.</p>
      </section>
    </div>
  </div>


</footer>


<!--

<hr>



-->
