.progress-spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


.progress-spinner:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(214, 206, 206, 0.53);
}

/*


Se toman colores coreborativos del BanRep
* AZUL OSCURO BRC
* AZUL BRC
* CEREZA BRC
* ROJO OSCURO BRC


.custom-spinner .p-progress-spinner-circle {
  animation:
    custom-progress-spinner-color 0.80s ease-in-out infinite;
}



@keyframes custom-progress-spinner-color {
  100%,
  0% {
    stroke: #080808;
  }
  40% {
    stroke: #489fb5;
  }
  66% {
    stroke: #82c0cc;
  }
  80%,
  90% {
    stroke: #ffa62b;
  }
}



/*
@keyframes custom-progress-spinner-color {
  100%,
  0% {
      stroke: #004070 !important;
  }
  40% {
      stroke: #006fb9 !important; 
  }
  66% {
      stroke: #8b0b24 !important;
  }
  80%,
  90% {
      stroke: #d5112a !important;
  }
}
*/